.btn {
  display: inline-flex;
  padding: 5px 10px;
  font-weight: 700;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--hero {
    position: relative;
    background-image: linear-gradient(135deg, rgba(39, 36, 73, 1), rgba(133, 164, 170, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg,rgba(39, 36, 73, 1),rgba(133, 164, 170, 1));
    border-image-slice: 1;
    transition: all 500ms ease;

    &:before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-image: linear-gradient(135deg,rgba(39, 36, 73, 1),rgba(133, 164, 170, 1));
      transition: all 500ms ease;
      z-index: -1;
    }

    @include hover {
      -webkit-text-fill-color: #fff;
      background-image: none;

      &:before {
        width: 100%;
      }
    }
  }

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
