.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
}

.header__container {
  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 32px;
    text-align: left;

    @include vp-767 {
      text-align: center;
      font-size: 35px;
      line-height: 40px;
    }
  }
}

.header__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}
