.social {
  @include reset-list;

  display: flex;
  justify-content: center;
  gap: 5px;
}

.social__item {
  a {
    svg {
      fill: $color-default-white;
    }

    @include hover-focus {
      opacity: 0.5;
    }
  }
}
